<html>
  <head>
    <title>Gothons of Planet Percal #25</title>
  </head>
  <body>

    <% if greeting %>
      <p>Yo I'ma let you finish, but <em style="color: red; font-size: 2em;"><%= greeting %></em>.
    <% else %>
      <em>Hello</em>, Snoop!
    <% end %>

  </body>
</html>
