<% if greeting %>
      <p>I just wanted to say <em style="color: blue; font-size: 2em;"><%= greeting %></em>.
    <% else %>
      <em>Hello</em>, world!
    <% end %>

    <p><a href="/hello">Go back.</a></p>
