%html
  %head
    %title Gothons from Planet Percal #25
    %link(href="/main.css" rel="stylesheet")
    %link(href="/normalize.css" rel="stylesheet")
    %link(href="/style.css" rel="stylesheet")
  %body
    =yield
